@import "PressUI/style/layout";
@import "PressUI/style/button";
@import "PressUI/style/form";
@import "PressUI/style/card";

.bookmark {
  @include press-card;

  .header {
    padding: 0.5em;
  }

  .content {
    padding: 0.5em;
    background-color: $white;
    color: $black;
  }

  .name {
    font-size: 1.5em;
  }

  .url, .tags {
    font-size: 0.9em;
  }

  .url a {
    text-decoration: none;
    color: $indigo900;
  }

  .keyword {
    vertical-align: middle;
    font-size: 0.7em;
  }
}

/* vim: set sw=2 sts=2 : */
