@import "PressUI/style/layout";
@import "PressUI/style/button";
@import "PressUI/style/form";
@import "PressUI/style/box";

.bookmark {
  @include press-box($gray3, $gray2);

  .name {
    font-size: 1.5em;
  }

  .url, .tags {
    font-size: 0.9em;
  }

  .url a {
    text-decoration: none;
    color: blue;
  }

  .keyword {
    font-size: 0.7em;
    .blue {
        color: green;
    }
    .small {
      font-size: 0.5em;
      vertical-align: text-top;
    }
  }
}

/* vim: set sw=2 sts=2 : */
