.button {
  $button-bg: green;
  $button-fg: white;

  padding: 0.5em;
  border-radius: 0.5em;
  border: 1px solid $button-bg;
  background: -moz-linear-gradient(top, lighten($button-bg, 6%) 0%, lighten($button-bg, 3%) 3%, darken($button-bg, 3%) 97%, darken($button-bg, 6%) 100%);
  background: -webkit-linear-gradient(top, lighten($button-bg, 6%) 0%, lighten($button-bg, 3%) 3%, darken($button-bg, 3%) 97%, darken($button-bg, 6%) 100%);
  background: -o-linear-gradient(top, lighten($button-bg, 6%) 0%, lighten($button-bg, 3%) 3%, darken($button-bg, 3%) 97%, darken($button-bg, 6%) 100%);
  background: linear-gradient(top, lighten($button-bg, 6%) 0%, lighten($button-bg, 3%) 3%, darken($button-bg, 3%) 97%, darken($button-bg, 6%) 100%);
  text-decoration: none;
  font-size: 0.8em;
  color: $button-fg;
  font-weight: bold;
}

.right.button + .right.button {
  margin-right: 0.5em;
}

.left.button + .left.button {
  margin-left: 0.5em;
}

.left {
  float: left;
}

.right {
  float: right;
}

@mixin border-box {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  width: 50em;
  margin: 1em auto;
}

#search-form .query {
    width: 100%;
}

#new-form, #edit-form {
  label {
    width: 10em;
    display: inline-block;
    float: left;
  }

  .entry {
    width: 40em;
  }
}

#bookmarks {
  padding: 0;
  margin: 1em 0;
}

.bookmark {
  list-style: none;
  padding: 0.5em 2em;
  margin-bottom: 0.5em;
  border: 0.1em solid black;
  border-radius: 0.5em;

  .name {
    font-size: 1.5em;
  }

  .url, .tags {
    font-size: 0.9em;
    a {
      text-decoration: none;
      color: black;
    }
  }

  .keyword {
    font-size: 0.7em;
    .blue {
        color: blue;
    }
    .small {
      font-size: 0.5em;
      vertical-align: text-top;
    }
  }
}
