@import "PressUI/style/layout";
@import "PressUI/style/button";
@import "PressUI/style/form";
@import "PressUI/style/box";

.button {
  @include press-button($blue, white);
}

input[type=search], input[type=text] {
  @include press-input-text($gray1);
}

#search-form .query {
    width: 100%;
}

#new-form, #edit-form {
  @include press-form(10em, 40em);
}

.bookmark {
  @include press-box($gray3, $gray2);

  .name {
    font-size: 1.5em;
  }

  .url, .tags {
    font-size: 0.9em;
    a {
      text-decoration: none;
      color: black;
    }
  }

  .keyword {
    font-size: 0.7em;
    .blue {
        color: blue;
    }
    .small {
      font-size: 0.5em;
      vertical-align: text-top;
    }
  }
}

/* vim: set sw=2 sts=2 : */
