{% macro bookmark(b, back) %}
<div class="bookmark">
  <a
    class="press-right button"
    href="/edit?id={{ b.id }}&back={{ back }}"
  >Edit</a>
  <div class="name">
    {{ b.name }}
    {% if b.keyword %}
      <span class="keyword">
        (<span class="blue">{{ b.keyword }}</span>)
        {% if b.suggestions_url %}
        <span class="small">suggestions enabled</span>
        {% endif %}
      </span>
    {% endif %}
  </div>
  <div class="url">
    <a href="{{ b.get_url() }}">{{ b.url }}</a>
  </div>
  <div class="tags">
    {% if b.has_tags() %}
      Tags: {{ b.get_tag_string() }}
    {% else %}
      No tags
    {% endif %}
  </div>
</div>
{% endmacro %}

{% macro bookmarks(b, back) %}
{% for i in b %}
  {{ bookmark(i, back) }}
{% endfor %}
{% endmacro %}

<!-- vim: set filetype=jinja sw=2 sts=2 : -->
