<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/style/base.css" type="text/css">
    {% if token %}
      <link
        rel="search"
        type="application/opensearchdescription+xml"
        title="LinkMarks search"
        href="/opensearchdescription.xml?token={{ token }}"
      >
    {% endif %}
  </head>
  <body>
    {% block content %}{% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="/static/script/base.js"></script>
    {% block script %}{% endblock %}
  </body>
</html>
