<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/style/base.css" type="text/css">
    <link
      rel="search"
      type="application/opensearchdescription+xml"
      title="LinkMarks search"
      href="/opensearchdescription.xml"
    >
  </head>
  <body>
    <div id="fb-root"></div>

    {% block content %}{% endblock %}

    {% include "PressUI/_jquery.html" %}
    <script src="https://connect.facebook.net/en_GB/all.js"></script>
    <script type="text/javascript">{% include "fbinit.js" %}</script>
    <script src="/static/script/PressUI/confirm.js"></script>
    {% block script %}{% endblock %}
  </body>
</html>

<!-- vim: set filetype=jinja sw=2 sts=2 : -->
