<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>$title</title>
    <link rel="stylesheet" href="/style/base.css" type="text/css">
  </head>
  <body>
    $content

    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="/script/base.js"></script>
  </body>
</html>
