{% extends "PressUI/base.html" %}
{% import "PressUI/helpers.html" as h %}

{% block press_style %}
  {{ h.press_stylesheet("/static/style/base.css") }}
{% endblock %}

{% block press_header %}
  <link
    rel="search"
    type="application/opensearchdescription+xml"
    title="LinkMarks search"
    href="/opensearchdescription.xml"
  >
{% endblock %}

{% block press_script %}
  {% include "PressUI/jquery.html" %}
  <script src="/static/script/PressUI/confirm.js"></script>
  {% include "PressUI/facebook.html" %}
  {% block script %}{% endblock %}
{% endblock %}

<!-- vim: set filetype=jinja sw=2 sts=2 : -->
