{% extends "base.html" %}

{% block title %}Edit bookmark{% endblock %}

{% macro input(name, value) %}
<div>
  <label for="{{ name|lower }}">{{ name }}</label>
  <input
    class="entry"
    type="text"
    name="{{ name|lower }}"
    value="{{ value }}"
  />
</div>
{% endmacro %}

{% block content %}
<h1>Edit bookmark</h1>
<form id="edit-form" action="/save" method="post">
  <input type="hidden" name="id" value="{{ bookmark.id }}"/>
  <input type="hidden" name="back" value="{{ back }}"/>

  {{ input("Name", bookmark.name) }}
  {{ input("URL", bookmark.url) }}
  {{ input("Keyword", bookmark.keyword) }}
  {{ input("Tags", bookmark.getTags()) }}

  <input class="submit" type="submit" value="Update"/>
  <a class="back" href="/search?query={{ back }}">Back</a>
  <a class="delete confirm" href="/delete?id={{ bookmark.id }}">Delete</a>
</form>
{% endblock %}
