#encoding UTF-8
#extends base

#def title
Edit bookmark
#end def

#def content
<h1>Edit bookmark</h1>
<form id="edit-form" action="/save" method="post">
  <input type="hidden" name="id" value="$bookmark.id"/>
  <input type="hidden" name="back" value="$back"/>

  <div>
    <label for"name">Name</label>
    <input class="entry" type="text" name="name" value="$bookmark.name"/>
  </div>

  <div>
    <label for"url">URL</label>
    <input class="entry" type="text" name="url" value="$bookmark.url"/>
  </div>

  <div>
    <label for"keyword">Keyword</label>
    <input class="entry" type="text" name="keyword" value="$bookmark.keyword"/>
  </div>

  <input class="submit" type="submit" value="Update"/>
  <a class="back" href="/search?query=$back">Back</a>
  <a class="delete confirm" href="/delete?id=$bookmark.id">Delete</a>
</form>

#end def
