{% extends "base.html" %}

{% block title %}Edit bookmark{% endblock %}

{% macro linput(label, name, value) %}
<div>
  <label for="{{ name }}">{{ label }}</label>
  <input
    class="entry"
    type="text"
    name="{{ name }}"
    value="{{ value }}"
  />
</div>
{% endmacro %}

{% macro input(label, value) %}
{{ linput(label, label|lower, value) }}
{% endmacro %}

{% block content %}
<h1>Edit bookmark</h1>
<form id="edit-form" action="/save" method="post">
  <input type="hidden" name="id" value="{{ bookmark.id }}"/>
  <input type="hidden" name="back" value="{{ back }}"/>

  {{ input("Name", bookmark.name) }}
  {{ input("URL", bookmark.url) }}
  {{ input("Keyword", bookmark.get_keyword()) }}
  {{ input("Tags", bookmark.get_tag_string()) }}
  {{ linput("Suggestions URL", "suggestions_url", bookmark.get_suggestions_url() ) }}

  <a class="left button" href="/search?query={{ back }}">Back</a>
  <a
    class="left button confirm"
    href="/delete?id={{ bookmark.id }}&back={{ back }}"
  >Delete</a>
  <input class="right button" type="submit" value="Update"/>
</form>
{% endblock %}
