{% extends "base.html" %}

{% block press_title %}New bookmark{% endblock %}

{% macro linput(label, name) %}
<div>
  <label for="{{ name }}">{{ label }}</label>
  <input class="entry" type="text" name="{{ name }}"/>
</div>
{% endmacro %}

{% macro input(label) %}
{{ linput(label, label|lower) }}
{% endmacro %}

{% block press_content %}
<h1>New bookmark</h1>
<form id="new-form" action="/save" method="post">
  {{ input("Name") }}
  {{ input("URL") }}
  {{ input("Keyword") }}
  {{ input("Tags") }}
  {{ linput("Suggestions URL", "suggestions_url") }}

  <input class="press-right button" type="submit" value="Create"/>
  <a class="press-left button" href="/">Back</a>
</form>
{% endblock %}
