{% extends "base.html" %}

{% block title %}Search results{% endblock %}

{% block content %}
<a class="right button" href="/">Back</a>
<a class="right button" href="/redirect?to={{ query }}">
  I didn’t want to search
</a>
<h1>Search results</h1>
<ul id="bookmarks">
  {% for bookmark in bookmarks %}
    <li class="bookmark">
      <a
        class="right button"
        href="/edit?id={{ bookmark.id }}&back={{ query }}"
      >Edit</a>
      <div class="name">
        {{ bookmark.name }}
        {% if bookmark.keyword %}
          <span class="keyword">
            (<span class="blue">{{ bookmark.keyword }}</span>)
            {% if bookmark.suggestions_url %}
            <span class="small">suggestions enabled</span>
            {% endif %}
          </span>
        {% endif %}
      </div>
      <div class="url">
        <a href="{{ bookmark.search("") }}">{{ bookmark.url }}</a>
      </div>
      <div class="tags">Tags: {{ bookmark.get_tag_string() }}</div>
    </li>
  {% endfor %}
</ul>
{% endblock %}
